header {
    background-color: #bf1cb9;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #141414;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    header {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px; /* Adiciona espaçamento menor no cabeçalho */
    }

    .header-button {
        margin-top: 10px;
        margin-left: 0;
        padding: 8px 16px; /* Reduz o padding nos botões para telas menores */
        font-size: 14px; /* Reduz o tamanho da fonte nos botões */
    }
}

body, html {
    background-color: #141414;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 300px;
    background-color: #141414; /* roxo escuro */
    color: #fff; /* texto branco */
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.chat-header {
    background-color: #bf1cb9; /* roxo escuro */
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chat-window {
    height: 300px;
    overflow-y: scroll;
}
.message-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #666; /* roxo escuro */
}
.message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    background-color: #666; /* roxo médio */
    color: #fff; /* texto branco */
    border-radius: 3px;
}
.send-button {
    border: none;
    outline: none;
    background-color: #bf1cb9; /* roxo escuro */
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
}
.send-button:hover {
    background-color: #e910e1; /* roxo escuro mais claro */
}
