/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #bf1cb9;
    color: #141414;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:#bf1cb9
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}


.hero {
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:#bf1cb9;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.sobreNos{
    text-align: center;
    padding: 100px;
}

.sobreNos h2{
    font-size: 36px;
    margin-bottom: 20px;
    color:#bf1cb9;
}

.sobreNos p{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
}

/* TIRANDO DEFAULT*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* ANIMAÇÃOZINHA DE IR PRA DIREITA O TREM ROXO */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #bf1cb9;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* TEXTO QUANDO VC SEGURA O BOTAOZINHO */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }


  